.logoWrapper {
	height: auto;
	width: 48px;
}

.logo {
	display: block;
	width: 100%;
	height: auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.logoWrapper {
		width: 4em;
	}
}
